@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Red Hat";
  src: url("../data/FontLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Red Hat";
  src: url("../data/FontRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Red Hat";
  src: url("../data/FontMedium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat";
  src: url("../data/FontSemibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Red Hat";
  src: url("../data/FontBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Red Hat";
  src: url("../data/FontExtrabold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Red Hat";
  src: url("../data/FontBlack.ttf");
  font-weight: 900;
}
